

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#slide-spacer {
	padding-top: 50px;
}

@media (max-width: 768px) {
	#slide-container {
		padding-left: 0;
		padding-right: 0;
	}
}



/* ==========================================================================
   Bootstrap modifications
   ========================================================================== */

.navbar-default .navbar-brand {
  color: #000;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  background-color: #fff;
}

.jumbotron {
  padding: 50px 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	/* Propriété à annuler */
  color: #000;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	/* Propriété à simplement annuler. */
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	/* À adapter en fonction de la bordure (ou absence de bordure) voulue. */
  border-color: #fff;
}

.navbar-brand {
  font-size: 14px;
}

.page-header {
	/* Cette propriété doit être supprimée */
  border-bottom: none;
}


